name: Tests, Coverage
on:
  pull_request:
  push:
    branches:
      - main
      - dev

jobs:
  tests:
    name: "OS: ${{ matrix.os }} | Go: ${{ matrix.go }}"
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        go: [ '1.19', '1.20', '1.21', '1.22', '1.23', '1.24', '1.25' ]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - uses: actions/setup-go@v5
        name: Install golang
        with:
          go-version: ${{ matrix.go }}

      - name: Run coverage
        run: go test -v -race

  coverage:
    needs: tests
    name: Coverage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - uses: actions/setup-go@v5
        name: Install golang
        with:
          go-version: '1.25'

      - name: Run coverage
        run: go test -race -coverprofile=coverage.out -covermode=atomic

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
